<header>
  <div class="header_logo">
    <a routerLink="/">
      <img src="img/logo/logo_fika.png" alt="logo">
    </a>
  </div>
  <div class="header_menu">
    <a routerLinkActive="active" routerLink="/produits/Plats">
      <span>PLATS</span>
    </a>
    <a routerLinkActive="active" routerLink="/produits/Boissons">
      <span>BOISSONS</span>
    </a>
    <a routerLinkActive="active" routerLink="/produits/Desserts">
      <span>DESSERT</span>
    </a>
    <a routerLinkActive="active" routerLink="/produits/Snacks">
      <span>SNACKS</span>
    </a>
  </div>
  <div class="header_action">
    <a routerLink="/auth/login">
      <lucide-icon name="user" class="my-icon"></lucide-icon>
    </a>
    <button class="header_cart" (click)="openSideCart()">
      <span>
        <lucide-icon name="shopping-cart" class="my-icon"></lucide-icon>
      </span>
    </button>
  </div>

</header>