<section class="order_ctn">
    <section class="payer_commande" *ngIf="confirmModal">
        <div class="payer_ctn">
            <div class="payer_retour_ctn">
                <h2>PAYER</h2>
                <button (click)="confirmModal=false">⛌</button>
            </div>

            <div class="stripe">
                <!-- Nom du titulaire -->
                <label for="card-name">Nom du titulaire</label>
                <input id="card-name" type="text" [(ngModel)]="cardholderName" placeholder="Nom sur la carte" required>

                <!-- Email -->
                <label for="card-email">Email</label>
                <input id="card-email" type="email" [(ngModel)]="email" placeholder="Votre email" required>

                <!-- Pays -->
                <label for="billing-country">Pays</label>
                <select id="billing-country" [(ngModel)]="billingCountry">
                    <option value="FR">France</option>
                    <option value="BE">Belgique</option>
                    <option value="CH">Suisse</option>
                    <option value="CA">Canada</option>
                    <option value="US">États-Unis</option>
                </select>

                <!-- Code postal -->
                <label for="postal-code">Code Postal</label>
                <input id="postal-code" type="text" [(ngModel)]="postalCode" placeholder="Code postal">

                <!-- Élément Stripe pour la carte bancaire -->
                <label for="card-element">Carte bancaire</label>
                <div id="card-element"></div>

                <!-- Élément Stripe pour IBAN (SEPA) -->
                <label for="iban-element">IBAN</label>
                <div id="iban-element"></div>

                <!-- Messages d'erreur Stripe -->
                <div id="card-errors" role="alert"></div>
            </div>

            <div class="payer_btn_ctn">
                <button (click)="handlePayment()">Payer</button>
            </div>
        </div>
    </section>

    <div class="recap_ctn">
        <h2>Detail commande</h2>
        <div class="produits_ctn">
            @for (item of order; track $index) {
            <div class="cart">
                <img [src]="'http://localhost:3000/uploads/'+item.imagePath" alt="">
                <p>{{ item.name }} (x{{item.quantity}})</p>
                @if (item.promotion !== null){
                <p>{{item.price*item.quantity| number: '1.2-2'}}€</p>
                } @else {
                <p>{{(item.price - (item.price * (item.promotion|promotion) /100))*item.quantity| number: '1.2-2'}}€</p>
                }
            </div>
            }
        </div>
        <div class="confirm_ctn">
            <h2>Total : {{ total | decimalFormat }} €</h2>
            <button (click)="toggleModal()">Procéder au paiement de la commande</button>
        </div>
    </div>
</section>
