.order_ctn {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../../public/img/bg/bg2.png);
    background-size: cover;

    .recap_ctn {
        width: 80vw;
        height: 90%;
        background-color: #fff;
        display: flex;
        flex-direction: column;

        h2 {
            height: 10%;
            display: flex;
            align-items: center;
            padding: 25px
        }

        .produits_ctn {
            padding: 20px;
            height: 80%;
            display: flex;
            flex-wrap: wrap;
            gap: 70px;

            .cart {
                width: 16%;
                height: 42%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: #f0f0f0;

                img {
                    height: 60%;
                    width: auto;
                }
            }
        }

        .confirm_ctn {
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ebebeb;

            button {
                background: none;
                border: none;

                padding: 15px;
                border-radius: 10px;
                background-color: #1212bd;
                color: #fff;
                margin-right: 50px;
            }

            h2 {
                margin-left: 50px;
            }



        }
    }

    .payer_commande {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        .payer_ctn {
            width: 80vw;
            height: 90%;
            background-color: #fff;
            display: flex;
            flex-direction: column;

            .payer_retour_ctn {
                height: 10%;
                display: flex;
                align-items: center;
                padding: 25px;
                justify-content: space-between;

                button {
                    font-size: 25px;
                    background: none;
                    border: none;
                }

                button:hover {
                    color: red;
                }
            }

            .stripe {
                height: 80%;
                width: 100%;
                margin-bottom: 20px;

                #card-element {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    height: 40px;
                    /* Assurez-vous que l'élément a une hauteur définie */
                }

                #card-errors {
                    color: red;
                    margin-top: 10px;
                }
            }

            .payer_btn_ctn {
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    border: none;
                    background: none;

                    padding: 15px 70px;
                    border-radius: 10px;
                    background-color: #3312b8;
                    color: #fff;
                }
            }
        }


    }
}