<div class="overlay" *ngIf="isOpen" (click)="closeSideCart()"></div> <!-- Overlay -->
<section class="side_cart" [class.active]="isOpen">
  <div class="close_side_cart">
    <button (click)="closeSideCart()">
      <lucide-icon name="x" class="my-icon"></lucide-icon>
    </button>
  </div>
  <div class="side_cart_ctn">
    @if(cart.length === 0){
    <h3>Le panier est vide</h3>
    } @else {
    <div class="cart_ctn">
      <h3>Récapitulatif de la commande</h3>
      @for (item of cart; track $index) {
      <div class="cart">
        <p>{{ item.name }} (x{{ item.quantity || 1 }})</p>
        @if(item.quantity > 1){
        <button (click)="decreaseQuantity(item)" class="decrease">Enlever 1</button>
        }
        <button (click)="removeItem($index)" class="remove">Supprimer</button>
      </div>
      }
    </div>

    <div class="order_btn_ctn">
      <button>Commander</button>
    </div>
    }
  </div>
</section>