<nav>
  <div class="header_logo">
    <a routerLink="/">
      <img src="img/logo/logo_fika.png" alt="logo">
    </a>
    <div>
      <span>Username</span>
    </div>
  </div>
  <div>
    <a href="/admin/dashboard">
      <span>Dashboard</span>
    </a>
    <a href="/">
      <span>Commande en cours</span>
    </a>
    <a href="">
      <span>Historique des commandes</span>
    </a>
    <a href="">
      <span>Gestion des produits</span>
    </a>
    <a href="">
      <span>Gestion des ingrédients</span>
    </a>
  </div>
</nav>
