<nav class="navbar">
  <div class="header_logo">
    <div class="logo">
      <img src="img/logo/logo_2.png" alt="logo">
    </div>
    <div class="username">
      <span>{{ userName }}</span>
    </div>
  </div>
  <hr>
  <div class="navbar_menu">
    <a routerLinkActive="active" routerLink="/admin/dashboard">
      <span>Dashboard</span>
    </a>
    <a routerLinkActive="active" routerLink="/admin/orders">
      <span>Commande en cours</span>
    </a>
    <a routerLinkActive="active" routerLink="/admin/history">
      <span>Historique des commandes</span>
    </a>
    <a routerLinkActive="active" routerLink="/admin/product-management">
      <span>Gestion des produits</span>
    </a>
    <a routerLinkActive="active" routerLink="/admin/ingredients">
      <span>Gestion des ingrédients</span>
    </a>
  </div>
  <div class="navbar_deconnexion">
    <button (click)="logout()">Deconnexion</button>
  </div>
</nav>
