.home_ctn {
    width: 100vw;
    height: 150vh !important;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(../../../../public/img/bg/bg-2.png);

    .pdj_promo_ctn {
        width: 80vw;
        height: 130vh;
        background-color: #fff;

        h1 {
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 20px;

        }

        .pdj_list,
        .promo_list {
            display: flex;
            flex-wrap: wrap;

            min-height: 50vh;




            .produit {

                height: 200px;
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                img {
                    height: 60%;
                    width: auto
                }

                button {
                    background: none;
                    border: none;
                    height: 15%;
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    border-radius: 10px;


                    span {
                        color: red;
                        text-decoration: line-through;
                    }

                    .promo {
                        color: #1bc941;
                    }
                }

                button:hover {
                    background-color: #4f8d39;

                    p {
                        color: #fff;
                    }
                }
            }

            @media (max-width: 1200px) {
                .produit {
                    width: 30%;
                }
            }
        }



    }

    .see_all {
        padding: 10px;
        border-radius: 5px;
        background-color: green;
        color: #fff;
    }
}