<section class="home_ctn">
    <div class="pdj_promo_ctn">
        <h1>Plat du jour</h1>
        <div class="pdj_list">
            <div class="produit" *ngFor="let produit of products.platsDuJour$">
                <div class="image_ctn">
                    <div class="loader" *ngIf="!imageLoaded"></div>
                    <img [src]="'http://localhost:3000/uploads/'+produit.imagePath" (load)="imageLoaded = true"
                        [style.display]="imageLoaded ? 'flex' : 'none'" />
                </div>


                <p>{{produit.name}}</p>
                <button routerLink="/detail/{{produit.id}}">
                    <p>Voir le produit</p>
                    <div class="price">
                        <p>{{produit.price }}€</p>
                    </div>
                </button>
            </div>
        </div>
        <h1>Promo</h1>
        <div class="pdj_list">
            <div class="produit" *ngFor="let produit of products.promos$">
                <div class="image_ctn">
                    <div class="loader" *ngIf="!imageLoaded"></div>
                    <img [src]="'http://localhost:3000/uploads/'+produit.imagePath" (load)="imageLoaded = true"
                        [style.display]="imageLoaded ? 'flex' : 'none'" />
                </div>
                <p>{{produit.name}}</p>
                <button routerLink="/detail/{{produit.id}}">
                    <p>Voir le produit</p>
                    <div class="price"><span>{{produit.price}}€</span>
                        <p>{{produit.price - (produit.price * (produit.promotion | promotion) /100) | number: '1.2-2'}}€
                        </p>

                    </div>
                    <p class="promo">-{{produit.promotion}}%</p>
                </button>

            </div>
        </div>
    </div>
    <div class="see_all_ctn">
        <a routerLink="/products" class="see_all">Voir tout les produits</a>
    </div>

</section>