.data-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* Bordure générale du tableau */

    thead {
      background-color: var(--primary);

      tr {
        th {
          color: #fff;
          padding: 10px;
          text-transform: uppercase;
          font-size: 14px;
          text-align: center; /* Centrer les titres */
          border: 1px solid #ccc; /* Délimiter chaque colonne de l'en-tête */
        }
      }
    }

    tbody {
      tr {
        border: 1px solid #ccc; /* Bordure autour des lignes */

        &:nth-child(odd) {
          background-color: #f9f9f9;
        }

        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        &:hover {
          background-color: rgba(0, 123, 255, 0.1);
          cursor: pointer;
        }
      }

      td {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ccc; /* Bordure de chaque cellule */

        &:last-child {
          button {
            margin: 5px 5px;
            padding: 5px 10px;
            border: none;
            background-color: var(--secondary);
            color: #fff;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background-color: var(--primary);
            }
          }
        }
      }
    }
  }
}

.sortable-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.sortable-header lucide-icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
}
