<section class="data-grid">
  <table>
    <thead>
    <tr>
      <th (click)="sortTable('id')">
        <div class="sortable-header">
          id
          <ng-container *ngIf="currentSortProperty === 'id'">
            <lucide-icon *ngIf="isAscending" name="move-up"></lucide-icon>
            <lucide-icon *ngIf="!isAscending" name="move-down"></lucide-icon>
          </ng-container>
        </div>
      </th>
      <th>image</th>
      <th (click)="sortTable('name')">
        <div class="sortable-header">
          name
          <ng-container *ngIf="currentSortProperty === 'name'">
            <lucide-icon *ngIf="isAscending" name="move-up"></lucide-icon>
            <lucide-icon *ngIf="!isAscending" name="move-down"></lucide-icon>
          </ng-container>
        </div>
      </th>
      <th>description</th>
      <th (click)="sortTable('price')">
        <div class="sortable-header">
          price
          <ng-container *ngIf="currentSortProperty === 'price'">
            <lucide-icon *ngIf="isAscending" name="move-up"></lucide-icon>
            <lucide-icon *ngIf="!isAscending" name="move-down"></lucide-icon>
          </ng-container>
        </div>
      </th>
      <th>plat du jour</th>
      <th (click)="sortTable('promotion')">
        <div class="sortable-header">
          promotion
          <ng-container *ngIf="currentSortProperty === 'promotion'">
            <lucide-icon *ngIf="isAscending" name="move-up"></lucide-icon>
            <lucide-icon *ngIf="!isAscending" name="move-down"></lucide-icon>
          </ng-container>
        </div>
      </th>
      <th (click)="sortTable('type')">
        <div class="sortable-header">
          type
          <ng-container *ngIf="currentSortProperty === 'available'">
            <lucide-icon *ngIf="isAscending" name="move-up"></lucide-icon>
            <lucide-icon *ngIf="!isAscending" name="move-down"></lucide-icon>
          </ng-container>
        </div>
      </th>
      <th (click)="sortTable('type')">
        <div class="sortable-header">
          category
          <ng-container *ngIf="currentSortProperty === 'available'">
            <lucide-icon *ngIf="isAscending" name="move-up"></lucide-icon>
            <lucide-icon *ngIf="!isAscending" name="move-down"></lucide-icon>
          </ng-container>
        </div>
      </th>
      <th (click)="sortTable('available')">
        <div class="sortable-header">
          status
          <ng-container *ngIf="currentSortProperty === 'available'">
            <lucide-icon *ngIf="isAscending" name="move-up"></lucide-icon>
            <lucide-icon *ngIf="!isAscending" name="move-down"></lucide-icon>
          </ng-container>
        </div>
      </th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td class="image">
        <img [src]="url + product.imagePath" alt="Product Image"/>
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | currency:'EUR':'symbol':'1.2-2':'fr' }}</td>
      <td>{{ product.isPlatDuJour ? 'Oui' : 'Non' }}</td>
      <td>{{ product.promotion | promotion }} %</td>
      <td>{{ product.type }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.available ? 'en ligne' : 'brouillon' }}</td>
      <td class="actions">
        <button (click)="editProduct(product)">Modifier</button>
        <button (click)="deleteProductPopUP(product.id)">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
  <app-popup-delete
    [selectedProductId]="selectedProductId"
    [showPopup]="showPopup"
    (confirm)="confirmDeletion($event)"
    (cancel)="cancelDeletion()"
  ></app-popup-delete>

</section>
